something {
    gap: #000000;
    gap: #1C1C1C;
    gap: #363636;
    gap: #4F4F4F;
    gap: #696969;
    gap: #808080;
    gap: #A9A9A9;
    gap: #C0C0C0;
    gap: #D3D3D3;
    gap: #DCDCDC;
    gap: #6A5ACD;
    gap: #836FFF;
    gap: #6959CD;
    gap: #483D8B;
    gap: #191970;
    gap: #000080;
    gap: #00008B;
    gap: #0000CD;
    gap: #0000FF;
    gap: #6495ED;
    gap: #4169E1;
    gap: #1E90FF;
    gap: #00BFFF;
    gap: #87CEFA;
    gap: #87CEEB;
    gap: #ADD8E6;
    gap: #4682B4;
    gap: #B0C4DE;
    gap: #708090;
    gap: #778899;
    gap: #00FFFF;
    gap: #00CED1;
    gap: #40E0D0;
    gap: #48D1CC;
    gap: #20B2AA;
    gap: #008B8B;
    gap: #008080;
    gap: #7FFFD4;
    gap: #66CDAA;
    gap: #5F9EA0;
    gap: #2F4F4F;
    gap: #00FA9A;
    gap: #00FF7F;
    gap: #98FB98;
    gap: #90EE90;
    gap: #8FBC8F;
    gap: #3CB371;
    gap: #2E8B57;
    gap: #006400;
    gap: #008000;
    gap: #228B22;
    gap: #32CD32;
    gap: #00FF00;
    gap: #7CFC00;
    gap: #ADFF2F;
    gap: #9ACD32;
    gap: #6B8E23;
    gap: #556B2F;
    gap: #808000;
    gap: #BDB76B;
    gap: #DAA520;
    gap: #B8860B;
    gap: #8B4513;
    gap: #A0522D;
    gap: #BC8F8F;
    gap: #CD853F;
    gap: #D2691E;
    gap: #F4A460;
    gap: #FFDEAD;
    gap: #DEB887;
    gap: #D2B48C;
    gap: #7B68EE;
    gap: #8A2BE2;
    gap: #9370DB;
    gap: #4B0082;
    gap: #9400D3;
    gap: #9932CC;
    gap: #BA55D3;
    gap: #A020F0;
    gap: #8B008B;
    gap: #FF00FF;
    gap: #EE82EE;
    gap: #DA70D6;
    gap: #DDA0DD;
    gap: #C71585;
    gap: #FF1493;
    gap: #FF69B4;
    gap: #DB7093;
    gap: #FFB6C1;
    gap: #FFC0CB;
    gap: #F08080;
    gap: #CD5C5C;
    gap: #DC143C;
    gap: #800000;
    gap: #8B0000;
    gap: #B22222;
    gap: #A52A2A;
    gap: #FA8072;
    gap: #E9967A;
    gap: #FFA07A;
    gap: #FF7F50;
    gap: #FF6347;
    gap: #FF0000;
    gap: #FF4500;
    gap: #FF8C00;
    gap: #FFA500;
    gap: #FFD700;
    gap: #FFFF00;
    gap: #F0E68C;
    gap: #F0F8FF;
    gap: #F8F8FF;
    gap: #FFFAFA;
    gap: #FFF5EE;
    gap: #FFFAF0;
    gap: #F5F5F5;
    gap: #F5F5DC;
    gap: #FDF5E6;
    gap: #FFFFF0;
    gap: #FAF0E6;
    gap: #FFF8DC;
    gap: #FAEBD7;
    gap: #FFEBCD;
    gap: #FFE4C4;
    gap: #FFFFE0;
    gap: #FFFACD;
    gap: #FAFAD2;
    gap: #FFEFD5;
    gap: #FFDAB9;
    gap: #FFE4B5;
    gap: #EEE8AA;
    gap: #FFE4E1;
    gap: #FFF0F5;
    gap: #E6E6FA;
    gap: #D8BFD8;
    gap: #F0FFFF;
    gap: #E0FFFF;
    gap: #B0E0E6;
    gap: #E0FFFF;
    gap: #F0FFF0;
    gap: #F5FFFA;

    /* Last Project */
    gap: #ebe6e2;
    gap: #d1cecb;
    gap: #1fe26a;
    gap: #1eaf56af;
    gap: #1eaf5642;
    gap: #521c8f;
    gap: #501f8883;
    gap: #10659e;
    gap: #0f659e69;
    gap: #96490a;
    gap: #700e3f;
}